In [58]:
#Installing Selenium and chrome driver
!pip install selenium
!apt-get update
!apt-get install -y chromium-browser
!apt install chromium-chromedriver

#Setting up a Chrome browser that can be used to automate web interactions, such as clicking buttons, filling forms, and scraping data from websites.
def web_driver():
    options = webdriver.ChromeOptions()
    options.add_argument("--verbose")
    options.add_argument('--no-sandbox')
    options.add_argument('--headless')
    options.add_argument('--disable-gpu')
    options.add_argument("--window-size=1920, 1200")
    options.add_argument('--disable-dev-shm-usage')
    driver = webdriver.Chrome(options=options)
    return driver

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, ElementClickInterceptedException, NoSuchElementException
import time
import csv

!ls /usr/lib/chromium-browser/chromedriver

Requirement already satisfied: selenium in /usr/local/lib/python3.11/dist-packages (4.29.0)
Requirement already satisfied: urllib3<3,>=1.26 in /usr/local/lib/python3.11/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (2.3.0)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.11/dist-packages (from selenium) (0.29.0)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.11/dist-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.11/dist-packages (from selenium) (2025.1.31)
Requirement already satisfied: typing_extensions~=4.9 in /usr/local/lib/python3.11/dist-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client~=1.8 in /usr/local/lib/python3.11/dist-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (25.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (3.10)
Requirement already satisfied: outcome in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.11/dist-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
chromium-browser is already the newest version (1:85.0.4183.83-0ubuntu2.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
chromium-chromedriver is already the newest version (1:85.0.4183.83-0ubuntu2.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
/usr/lib/chromium-browser/chromedriver

In [60]:
# The main code for scraping and aquiring the listings from www.forsalebyowner.com
driver = web_driver()

#url
driver.get('https://www.affordablehousing.com/v4/pages/tnresult/tnresult.aspx')

# Wait for the page to load
time.sleep(5)

scraped_results = []

# Function to close modals (if any)
def close_modals():
    try:
        modal_close_button = WebDriverWait(driver, 10).until(
            EC.element_to_be_clickable((By.CLASS_NAME, "modal--cls--btn fas fa-times closemodal")))
        modal_close_button.click()
        print("Modal closed")
    except TimeoutException:
        print("No modal or close button found")

# Function to click the "Next" button
def click_view_more():
    try:
        element = WebDriverWait(driver, 10).until(
        EC.element_to_be_clickable((By.XPATH, '/html/body/form/div[4]/div[1]/div[5]/div[1]/div[4]/div[2]/div[3]/div[37]/div/div/div/div/div[2]/ul/li[10]/a/i'))
        )

        element.click()
        #driver.execute_script("arguments[0].click();", driver.find_element_by_xpath("/html/body/form/div[4]/div[1]/div[5]/div[1]/div[4]/div[2]/div[3]/div[37]/div/div/div/div/div[2]/ul/li[10]/a/i"))
        '''
        next_button = WebDriverWait(driver, 10).until(
        EC.element_to_be_clickable((By.CSS_SELECTOR, "a[data-bind*='GoToNext']"))
        )
        print('Trying!!!')
        next_button.click()

        view_more_button = WebDriverWait(driver, 10).until(
            EC.element_to_be_clickable((By.XPATH, '//a[contains(text(),"Next")]')))  #or //*[text()="Next"]
        view_more_button.click()
        '''
        print("View More Listings button clicked")
        return True
    except ElementClickInterceptedException:
        print("Element click intercepted, trying to wait for modal to disappear")
        try:
            WebDriverWait(driver, 10).until(
                EC.invisibility_of_element_located((By.CLASS_NAME, "modal--cls--btn fas fa-times closemodal")))
            view_more_button.click()
            print("View More Listings button clicked after modal disappeared")
            return True
        except TimeoutException:
            print("Failed to wait for modal to disappear")
            return False
    except TimeoutException:
        print("View More Listings button not clickable")
        return False

#Function to collect the data listing from website
def extract_listings():
    listings = []
    try:
        body = WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.XPATH, '//*[@id="divtnResultPage"]')))

        print("Body element found.")

        property_elements = body.find_elements(By.XPATH, '//div[contains(@class, "tnresult--card")]') #//*[@id="divtnResultList"]/div[4]/div[2]/div[3]/div[2]

        print(f"Found {len(property_elements)} property elements.")

        if len(property_elements) == 0:
            print("No property elements found. Please verify the XPath.")

        for idx, property_element in enumerate(property_elements):
            try:
                # Extract property title and location
                #title = property_element.find_element(By.XPATH, './/a[contains(@class, "block text-xl font-bold")]').text
                location = property_element.find_element(By.XPATH, './/div[contains(@class, "tnresult--price")]').text
                # Extract price
                price = property_element.find_element(By.XPATH, './/div[contains(@class, "tnresult--propertyaddress")]').text
                # Extract property details (e.g., Beds, Baths, Acres)
                #details = property_element.find_element(By.XPATH, '//*[@id="divtnResultList"]/div[4]/div[2]/div[3]/div[3]/div[2]/div/div/div[2]').text
                # Extract seller information (optional)
                #property_type = property_element.find_element(By.XPATH, '//*[@id="0"]/div[2]/ah-property-type/span').text

                # Add the data to the listings list
                listings.append({
                   # "Title": title,
                    "Location": location,
                    "Price": price,
                    #"Details": details,
                    #"Property Type": property_type,
                })
            except NoSuchElementException as e:
                # If an element is missing, let's print the HTML of the property element to debug
                print(f"Error for property {idx + 1}: {e}")
                #print("Property HTML: ", property_element.get_attribute('outerHTML'))
    except Exception as e:
        print(f"Error extracting listings: {e}")
    return listings

# Function to save the data to a CSV file
def save_to_csv(listings, filename="Housing.csv"):
    keys = listings[0].keys()
    with open(filename, mode='w', newline='', encoding='utf-8') as file:
        writer = csv.DictWriter(file, fieldnames=keys)
        writer.writeheader()
        for listing in listings:
            writer.writerow(listing)
    print(f"Data saved to {filename}")


# Main function to scrape all listings (including "View More Listings")
def scrape_all_listings(max_lookups=1500, target_listings=2500):
    all_listings = []
    last_listing_count = 0
    lookup_count = 0

    while True:
        if lookup_count >= max_lookups:
            print("Reached maximum lookup count. Stopping.")
            break

        listings = extract_listings()

        # Check if there are any new listings
        if len(listings) == 0:
            print("No new listings found.")
            break

        # Append unique listings only (check for duplicates based on a unique key, e.g., title + location)
        for listing in listings:
            if listing not in all_listings:
                all_listings.append(listing)

        print(f"Total listings found so far: {len(all_listings)}")

        # Stop if we have reached the target number of listings
        if len(all_listings) >= target_listings:
            print(f"Reached the target number of {target_listings} listings. Stopping.")
            break

        # Check if the number of listings has increased, if not, break the loop
        if len(all_listings) == last_listing_count:
            print("No new listings found. Ending the scraping process.")
            break

        last_listing_count = len(all_listings)

        # Try to load more listings
        more_loaded = click_view_more()
        if not more_loaded:
            print("No more listings to load.")
            break

        lookup_count += 1
        time.sleep(10)  # Add a delay to reduce the load on the website

    return all_listings


# Run the scraping process
try:
    all_listings = scrape_all_listings()
    print(f"Scraping complete. Found {len(all_listings)} listings.")

    if all_listings:
        save_to_csv(all_listings)

    for listing in all_listings:
        print(listing)

except Exception as e:
    print(f"An error occurred: {e}")

finally:
    driver.quit()

Body element found.
Found 72 property elements.
Total listings found so far: 28
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 44
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 75
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 107
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 139
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 171
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 203
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 235
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 266
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 298
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 330
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 362
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 394
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 426
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 457
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 489
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 521
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 553
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 585
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 616
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 648
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 680
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 712
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 743
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 775
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 807
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 839
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 871
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 903
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 935
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 967
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 997
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 1029
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 1061
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 1092
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 1124
View More Listings button clicked
Body element found.
Found 72 property elements.
Total listings found so far: 1124
No new listings found. Ending the scraping process.
Scraping complete. Found 1124 listings.
Data saved to Housing.csv
{'Location': '', 'Price': ''}
{'Location': '$2,000', 'Price': '1813 Caen St, Raleigh, NC 27610'}
{'Location': '$2,784-$3,276', 'Price': '13800 NW 22nd Ave Opa Locka FL 33054, 203, Opa Locka, FL 33054'}
{'Location': '$3,276', 'Price': '14301 NW 17th Path, Opa Locka, FL 33054'}
{'Location': '$3,276', 'Price': '13800 NW 22nd Ave, 305, Opa Locka, FL 33054'}
{'Location': '$2,784', 'Price': '13800 NW 22nd Ave, 205, Opa Locka, FL 33054'}
{'Location': '$2,784', 'Price': '13800 NW 22nd Ave, 217, Opa Locka, FL 33054'}
{'Location': '$1,350', 'Price': '7626 Windsor Oaks, San Antonio, TX 78239'}
{'Location': '$1,275', 'Price': '8212 S Drexel Ave, 3W, Chicago, IL 60619'}
{'Location': '$1,285', 'Price': '8214 S Drexel Ave, 1, Chicago, IL 60619'}
{'Location': '$1,150', 'Price': '7832 S Drexel Ave, Chicago, IL 60619'}
{'Location': '$1,149', 'Price': '1026 E 80th St, Chicago, IL 60619'}
{'Location': '$1,250', 'Price': '8214 S Drexel Ave, Chicago, IL 60619'}
{'Location': '$2,500', 'Price': '1470 North Ave, 1, Bridgeport, CT 06604'}
{'Location': '$1,550', 'Price': '1212 Grant Ave, Rockford, IL 61103'}
{'Location': '$1,800', 'Price': '10454 Silver Stirrup Dr, Colorado Springs, CO 80925'}
{'Location': '$2,800', 'Price': '142 W 47th St, Los Angeles, CA 90037'}
{'Location': '$1,520', 'Price': '860 Louisiana St, Gary, IN 46402'}
{'Location': '$3,800', 'Price': '8008 Harris Ave, Parkville, MD 21234'}
{'Location': '$1,855', 'Price': '1225 Garfield St, Gary, IN 46404'}
{'Location': '$1,850', 'Price': '3887 Monroe St, Gary, IN 46408'}
{'Location': '$1,800', 'Price': '319 Chase St, Gary, IN 46404'}
{'Location': '$1,950', 'Price': '1060 Polk St, Gary, IN 46402'}
{'Location': '$1,900', 'Price': '1241 Roosevelt Pl, Gary, IN 46404'}
{'Location': '$1,950', 'Price': '700 E 49th Ave, Gary, IN 46409'}
{'Location': '$1,745', 'Price': '4316 E 7th Ave, Gary, IN 46403'}
{'Location': '$1,100', 'Price': '3945 E 66th St, 2, Cleveland, OH 44105'}
{'Location': '$1,450', 'Price': '1231 Taney St, Gary, IN 46404'}
{'Location': '$800-$1,325', 'Price': '800 11th St S, Saint Cloud, MN 56301'}
{'Location': '$1,500', 'Price': '1579 Sloan St, Saint Paul, MN 55130'}
{'Location': '$2,400', 'Price': '2936 Bamboo St, Mesquite, TX 75150'}
{'Location': '$1,250', 'Price': '1611 N Rockton Ave, Rockford, IL 61103'}
{'Location': '$1,450', 'Price': '1230 Trampe Ave, Saint Louis, MO 63138'}
{'Location': '$2,700', 'Price': '636 N Hill Pl, A105, Los Angeles, CA 90012'}
{'Location': '$1,550', 'Price': '1902 Price St, Rockford, IL 61103'}
{'Location': '$1,475', 'Price': '1132 Jackson St, Rockford, IL 61107'}
{'Location': '$1,700', 'Price': '2224 11th Ave, Rockford, IL 61104'}
{'Location': '$1,400', 'Price': '121 W Haines St, 1 B, Philadelphia, PA 19144'}
{'Location': '$1,200', 'Price': '12007 Lakepointe St, 1, Detroit, MI 48224'}
{'Location': '$1,600', 'Price': '3928 W Lexington St, 3, Chicago, IL 60624'}
{'Location': '$2,000', 'Price': '7000 NW 8th Ave, 5, Miami, FL 33150'}
{'Location': '$2,000', 'Price': '1912 S Woodstock St, Philadelphia, PA 19145'}
{'Location': '$1,500', 'Price': '938 N 66th St, 1, Philadelphia, PA 19151'}
{'Location': '$1,550', 'Price': '8000 S Calumet Ave, 2, Chicago, IL 60619'}
{'Location': '$2,700', 'Price': '636 N Hill Pl, B402, Los Angeles, CA 90012'}
{'Location': '$2,460', 'Price': '636 N Hill Pl, A107, Los Angeles, CA 90012'}
{'Location': '$2,700', 'Price': '636 N Hill Pl, A101, Los Angeles, CA 90012'}
{'Location': '$3,996', 'Price': '636 N Hill Pl, A302, Los Angeles, CA 90012'}
{'Location': '$4,000', 'Price': '10911 Pinegrove St, 1-a, Jamaica, NY 11435'}
{'Location': '$4,600', 'Price': '11539 158th St, 1, Jamaica, NY 11434'}
{'Location': '$4,000', 'Price': '16351 Phroane Ave, 1, Jamaica, NY 11433'}
{'Location': '$1,700', 'Price': '4320 Pilling St, Philadelphia, PA 19124'}
{'Location': '$1,500', 'Price': '4708 Devereaux St, 2FL, Philadelphia, PA 19135'}
{'Location': '$1,700', 'Price': '8921 S Cottage Grove Ave, Chicago, IL 60619, USA, 2E, Chicago, IL'}
{'Location': '$850', 'Price': '2868 Churchill St, Macon, GA 31204'}
{'Location': '$1,700', 'Price': '8810 Tobias Ave, 4, Panorama City, CA 91402'}
{'Location': '$3,800', 'Price': '2721 NE 14th Street Cswy, 103, Pompano Beach, FL 33062'}
{'Location': '$1,000', 'Price': '712 S Hayford Ave, Lansing, MI 48912'}
{'Location': '$750', 'Price': '2358 Putnam St, Toledo, OH 43620'}
{'Location': '$3,900', 'Price': '2981 NW 43rd Ter, NA, Miami, FL 33142'}
{'Location': '$2,800', 'Price': '123 Brighton Ave, 1, Staten Island, NY 10301'}
{'Location': '$1,574', 'Price': '3408 4th St, New Orleans, LA 70125'}
{'Location': '$2,100', 'Price': '1805 W 80th St, Los Angeles, CA 90047'}
{'Location': '$1,700', 'Price': '509 E 23rd St, Baltimore, MD 21218'}
{'Location': '$2,350', 'Price': '4120 E 7th St, A, Long Beach, CA 90804'}
{'Location': '$1,350', 'Price': '318 E 80th St, 1, Chicago, IL 60619'}
{'Location': '$1,550', 'Price': '324 E 80th St, 1, Chicago, IL 60619'}
{'Location': '$2,000', 'Price': '8147 W Krall St, Glendale, AZ 85303'}
{'Location': '$2,500', 'Price': '2026 W Oxford St, Philadelphia, PA 19121'}
{'Location': '$2,030', 'Price': '2436 N Hollywood St, Philadelphia, PA 19132'}
{'Location': '$1,780', 'Price': '2437 N Hollywood St, Philadelphia, PA 19132'}
{'Location': '$1,780', 'Price': '2114 W Indiana Ave, Philadelphia, PA 19132, USA, Philadelphia, PA'}
{'Location': '$2,150', 'Price': '1153 85th Ave, Oakland, CA 94621'}
{'Location': '$3,915', 'Price': '8806 Ruthelen St, Los Angeles, CA 90047'}
{'Location': '$2,700', 'Price': '3608 Cotton Creek Ln, Fort Worth, TX 76123'}
{'Location': '$2,000', 'Price': '1260 NE 136th Ter, 1, North Miami, FL 33161'}
{'Location': '$3,500', 'Price': '7815 NW 4th Ave, A, Miami, FL 33150'}
{'Location': '$1,650', 'Price': '2213 Port St, New Orleans, LA 70117'}
{'Location': '$2,350', 'Price': '44 N Alboni Pl, 5, Long Beach, CA 90802'}
{'Location': '$3,175', 'Price': '3776 Underwood Dr, 3, San Jose, CA 95117'}
{'Location': '$3,999', 'Price': '3824 Barker Dr, 1, San Jose, CA 95117'}
{'Location': '$3,250', 'Price': '669 Belladonna Ct, Sunnyvale, CA 94086'}
{'Location': '$2,750', 'Price': '21331 NW 39th Ave, 21331, Miami Gardens, FL 33055'}
{'Location': '$2,950', 'Price': '211 E 29th St, 6, Long Beach, CA 90806'}
{'Location': '$2,600', 'Price': '415 S 18th St, 1, Newark, NJ 07103'}
{'Location': '$2,900', 'Price': '820 S 17th St, 3, Newark, NJ 07108'}
{'Location': '$1,850', 'Price': '1740 Algonquin Pkwy, Louisville, KY 40210'}
{'Location': '$2,750', 'Price': '124 NW 61st St, Miami, FL 33127'}
{'Location': '$2,800', 'Price': '21 Alexander St, 3, Newark, NJ 07106'}
{'Location': '$2,350', 'Price': '378 Avon Ave, 2, Newark, NJ 07108'}
{'Location': '$1,700', 'Price': '3920 N Northbrook Dr, Decatur, IL 62526'}
{'Location': '$1,400', 'Price': '20 Sickles Dr, Decatur, IL 62521'}
{'Location': '$2,495', 'Price': '6233 Roby Dr, Arlington, TX 76001'}
{'Location': '$2,495', 'Price': '6205 Roby Dr, Arlington, TX 76001'}
{'Location': '$2,595', 'Price': '6215 Wilhitte Dr, Arlington, TX 76001'}
{'Location': '$2,495', 'Price': '6237 Roby Dr, Arlington, TX 76001'}
{'Location': '$1,560', 'Price': '1716 Marais St, New Orleans, LA 70116'}
{'Location': '$2,495', 'Price': '3528 Milan St, Arlington, TX 76015'}
{'Location': '$2,400', 'Price': '8250 W 21st Ln, 308, Hialeah, FL 33016'}
{'Location': '$2,400', 'Price': '1621 NW 16th St, 2, Miami, FL 33125'}
{'Location': '$1,895', 'Price': '2008 Ramblewood Rd, A, Baltimore, MD 21239'}
{'Location': '$1,395', 'Price': '4202 Saint Georges Ave, 11, Baltimore, MD 21212'}
{'Location': '$1,585', 'Price': '4304 Seminole Ave, T1, Baltimore, MD 21229'}
{'Location': '$1,995', 'Price': '640 Ponca St, 1, Baltimore, MD 21224'}
{'Location': '$1,495', 'Price': '2203 Roslyn Ave, 301, Baltimore, MD 21216'}
{'Location': '$1,695', 'Price': '2811 Virginia Ave, B2, Baltimore, MD 21215'}
{'Location': '$1,695', 'Price': '2300 Mount Royal Ter, 2, Baltimore, MD 21217'}
{'Location': '$1,750', 'Price': '4105 Ogden St, 2, Philadelphia, PA 19104'}
{'Location': '$1,900', 'Price': '1200 Lemontree Ct, Antioch, CA 94509'}
{'Location': '$1,800', 'Price': '1444 S Trumbull Ave, 3, Chicago, IL 60623'}
{'Location': '$2,500', 'Price': '1351 85th Ave, D, Oakland, CA 94621'}
{'Location': '$1,999', 'Price': '6235 Bromley Ave, 1, Oakland, CA 94621'}
{'Location': '$1,650', 'Price': '7748 S Ada St, 3, Chicago, IL 60620'}
{'Location': '$2,300', 'Price': '1351 85th Ave, A, Oakland, CA 94621'}
{'Location': '$650', 'Price': '703 H Ave, 1, Eureka, SD 57437'}
{'Location': '$450', 'Price': '703 H Ave, 3, Eureka, SD 57437'}
{'Location': '$1,400', 'Price': '7806 S Ashland Ave, 3, Chicago, IL 60620'}
{'Location': '$1,600', 'Price': '2602 E 87th St, 2, Chicago, IL 60617'}
{'Location': '$1,450', 'Price': '8058 S Paulina St, 1, Chicago, IL 60620'}
{'Location': '$1,450', 'Price': '7505 S Ridgeland Ave, 3, Chicago, IL 60649'}
{'Location': '$1,650', 'Price': '1620 E 75th St, 1, Chicago, IL 60649'}
{'Location': '$1,550', 'Price': '1510 E 74th St, 2, Chicago, IL 60619'}
{'Location': '$1,450', 'Price': '1607 W 80th St, 302, Chicago, IL 60620'}
{'Location': '$2,300', 'Price': '13503 Tulipwood Nook, 102, San Antonio, TX 78253'}
{'Location': '$1,800', 'Price': '6558 S Green St, 3, Chicago, IL 60621'}
{'Location': '$1,050', 'Price': '317 S Kilpatrick Ave, G, Chicago, IL 60644'}
{'Location': '$1,650', 'Price': '325 S Kilpatrick Ave, 1, Chicago, IL 60644'}
{'Location': '$2,200', 'Price': '212 Smalley Ave, 7, Hayward, CA 94541'}
{'Location': '$1,450', 'Price': '321 S Kilpatrick Ave, 2, Chicago, IL 60644'}
{'Location': '$1,600', 'Price': '468 W Winneconna Pkwy, 3, Chicago, IL 60620'}
{'Location': '$1,650', 'Price': '8011 S Wood St, 1, Chicago, IL 60620'}
{'Location': '$1,450', 'Price': '8011 S Wood St, 2B, Chicago, IL 60620'}
{'Location': '$1,450', 'Price': '8056 S Paulina St, 1, Chicago, IL 60620'}
{'Location': '$1,450', 'Price': '6649 S Maplewood Ave, 1, Chicago, IL 60629'}
{'Location': '$2,500', 'Price': '4958 S Michigan Ave, 3, Chicago, IL 60615'}
{'Location': '$1,900', 'Price': '4956 S Michigan Ave, 3, Chicago, IL 60615'}
{'Location': '$1,800', 'Price': '3825 W Chicago Ave, 2, Chicago, IL 60651'}
{'Location': '$1,100', 'Price': '1736 Edward Ave, Memphis, TN 38107'}
{'Location': '$2,748', 'Price': '913 N Culver Ave, 4, Compton, CA 90220'}
{'Location': '$1,450', 'Price': '7042 S Michigan Ave, 1, Chicago, IL 60637'}
{'Location': '$2,999', 'Price': '3421 Egret Ct, McKinney, TX 75071'}
{'Location': '$1,650', 'Price': '7042 S Michigan Ave, 3, Chicago, IL 60637'}
{'Location': '$1,550', 'Price': '1616 E 75th St, 2, Chicago, IL 60649'}
{'Location': '$1,550', 'Price': '7921 S Wood St, 3, Chicago, IL 60620'}
{'Location': '$2,000', 'Price': '742 S California Ave, 3, Chicago, IL 60612'}
{'Location': '$2,123', 'Price': '4230 Theresa Ln, Merced, CA 95348'}
{'Location': '$1,600', 'Price': '1444 S Trumbull Ave, 2, Chicago, IL 60623'}
{'Location': '$1,250', 'Price': '1708 W 81st St, 1, Chicago, IL 60620'}
{'Location': '$1,450', 'Price': '1527 W 83rd St, 3, Chicago, IL 60620'}
{'Location': '$1,650', 'Price': '1524 W 83rd St, G, Chicago, IL 60620'}
{'Location': '$1,800', 'Price': '3825 W Chicago Ave, 3, Chicago, IL 60651'}
{'Location': '$1,100', 'Price': '9520 Royal Ln, 301A, Dallas, TX 75243'}
{'Location': '$3,300', 'Price': '7505 Tin Cup Dr, Arlington, TX 76001'}
{'Location': '$2,800', 'Price': '608 Ricochet Dr, Fort Worth, TX 76131'}
{'Location': '$2,500', 'Price': '420 N Denley Dr, Dallas, TX 75203'}
{'Location': '$1,475', 'Price': '1806 Susan Dr, Tyler, TX 75703'}
{'Location': '$1,695', 'Price': '1110 Dogwood St, Tyler, TX 75701'}
{'Location': '$1,475', 'Price': '3436 W Franklin Blvd, 1B, Chicago, IL 60624'}
{'Location': '$1,475', 'Price': '3 N Keeler Ave, 202, Chicago, IL 60624'}
{'Location': '$1,750', 'Price': '121 N Kostner Ave, 3, Chicago, IL 60624'}
{'Location': '$2,350', 'Price': '1613 Hillhurst Ave, Los Angeles, CA 90027'}
{'Location': '$2,500', 'Price': '234 Pecos Trl, Cross Roads, TX 76227'}
{'Location': '$2,350', 'Price': '3225 Drew St, Los Angeles, CA 90065'}
{'Location': '$875', 'Price': '1777 Wathen Ln, 6, Louisville, KY 40216'}
{'Location': '$1,300', 'Price': '121 Willowwood Dr, Dayton, OH 45405'}
{'Location': '$1,049', 'Price': '8039 S King Dr, 303, Chicago, IL 60619'}
{'Location': '$2,000', 'Price': '665 NE 133rd St, 19, North Miami, FL 33161'}
{'Location': '$1,009', 'Price': '7415 S Colfax Ave, 1B, Chicago, IL 60649'}
{'Location': '$1,635', 'Price': '1015 North Ln, B, Houston, TX 77088'}
{'Location': '$1,100', 'Price': '1724 W Sanford St, D, Arlington, TX 76012'}
{'Location': '$2,000', 'Price': '4301 Seidel Ave, Baltimore, MD 21206'}
{'Location': '$3,850', 'Price': '6920 Gothic Marigold St, Las Vegas, NV 89149'}
{'Location': '$2,480', 'Price': '7300 Pirates Cove Rd, 2077, Las Vegas, NV 89145'}
{'Location': '$2,450', 'Price': '7300 Pirates Cove Rd, 2089, Las Vegas, NV 89145'}
{'Location': '$2,450', 'Price': '7200 Pirates Cove Rd, 1043, Las Vegas, NV 89145'}
{'Location': '$2,450', 'Price': '2121 Blue Breeze Dr, 203, Las Vegas, NV 89128'}
{'Location': '$2,450', 'Price': '7300 Pirates Cove Rd, 2082, Las Vegas, NV 89145'}
{'Location': '$2,450', 'Price': '2120 Sealion Dr, 103, Las Vegas, NV 89128'}
{'Location': '$2,600', 'Price': '9633 Birch St, 2, Oakland, CA 94603'}
{'Location': '$4,000', 'Price': '530 W 52nd Pl, Los Angeles, CA 90037'}
{'Location': '$2,550', 'Price': '1458 E Divisadero St, A, Fresno, CA 93721'}
{'Location': '$1,495', 'Price': '134 N Poplar Ave, A, Fresno, CA 93701'}
{'Location': '$1,999', 'Price': '11414 Menlo Ave, 1, Los Angeles, CA 90044'}
{'Location': '$3,350', 'Price': '2439 Solaris Bend Dr, Katy, TX 77493'}
{'Location': '$3,350', 'Price': '3048 Myrtle Sunset Dr, Katy, TX 77493'}
{'Location': '$2,500', 'Price': '4043 W Harrison St, C, Chicago, IL 60624'}
{'Location': '$2,900', 'Price': '806 E Aimee St, Forney, TX 75126'}
{'Location': '$1,850', 'Price': '330 Anton Dr, San Antonio, TX 78223'}
{'Location': '$2,400', 'Price': '4347 Redstone Dr, San Antonio, TX 78219'}
{'Location': '$2,800', 'Price': '603 1/2 W Gage Ave , Los Angeles, CA 90044'}
{'Location': '$1,750', 'Price': '754 W Southcross Blvd, San Antonio, TX 78211'}
{'Location': '$3,900', 'Price': '1056 W 61st St, Los Angeles, CA 90044'}
{'Location': '$2,995', 'Price': '2815 Hyde Park Blvd, Los Angeles, CA 90043'}
{'Location': '$1,800', 'Price': '5103 Fairington Ridge Cir, Lithonia, GA 30038, USA, Lithonia, GA'}
{'Location': '$1,850', 'Price': '4303 Fairington Club Dr, Lithonia, GA 30038'}
{'Location': '$995', 'Price': '4932 W Thompson St, 1, Philadelphia, PA 19131'}
{'Location': '$875', 'Price': '4522 Winnrose Way, 114, Louisville, KY 40211'}
{'Location': '$1,600', 'Price': '3323 Elmora Ave, Baltimore, MD 21213'}
{'Location': '$950', 'Price': '1902 Farnsley Rd, 4, Louisville, KY 40216'}
{'Location': '$2,100', 'Price': '3101 N Country Club Dr, 6, Miami, FL 33180'}
{'Location': '$3,295', 'Price': '3153 NW 42nd St, Miami, FL 33142'}
{'Location': '$3,195', 'Price': '2271 NW 63rd St, Miami, FL 33147'}
{'Location': '$650-$700', 'Price': '1801 Ekin Ave, 21, New Albany, IN 47150'}
{'Location': '$1,995', 'Price': '8102 Compton Ave, Los Angeles, CA 90001'}
{'Location': '$2,400', 'Price': '3325 Center Ave, Richmond, CA 94804'}
{'Location': '$3,875', 'Price': '1805 Whistler Dr, Little Elm, TX 75068'}
{'Location': '$1,150', 'Price': '4614 Rising Sun Ave, 2, Philadelphia, PA 19140'}
{'Location': '$2,050', 'Price': '3500 Thomas Pointe Ct, 2C, Abingdon, MD 21009'}
{'Location': '$1,700', 'Price': '420 Old Home Rd, Baltimore, MD 21206'}
{'Location': '$2,200', 'Price': '7925 E Baltimore St, Baltimore, MD 21224'}

In [61]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [64]:
def save_to_csv(listings, filename="Housing.csv"):
    # Ensure the folder exists in Google Drive
    folder_path = '/content/drive/MyDrive/MyDSCIListings'
    file_path = f"{folder_path}/{filename}"  # Full path including the filename

    import os
    os.makedirs(folder_path, exist_ok=True)  # Create the folder if it doesn't exist

    try:
        keys = listings[0].keys()  # Use the keys of the first listing as the CSV header
        with open(file_path, mode='w', newline='', encoding='utf-8') as file:
            writer = csv.DictWriter(file, fieldnames=keys)
            writer.writeheader()
            for listing in listings:
                writer.writerow(listing)
        print(f"Data saved to {file_path}")
    except Exception as e:
        print(f"An error occurred while saving the file: {e}")

In [65]:
from google.colab import files
files.download("Housing.csv")